In [1]:
import pandas as pd
import numpy as np

In [2]:
customer = pd.read_csv("AWCustomers.csv")
sales = pd.read_csv("AWSales.csv")
classification_test = pd.read_csv("AWTest-Classification.csv")
regression_test = pd.read_csv("AWTest-Regression.csv")

In [3]:
customer.info()
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
dtypes: int64(6), object(18)
memory usage: 3.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18355 entries, 0 to 18354
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     18355 non-null  int64
 1   BikeBuyer      18355 non-null  int64
 2   AvgMonthSpend  18355 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 430.3 KB

In [4]:
df = customer.merge(sales,on ='CustomerID',how='left')
df.head(10)

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,M,M,1,3,0,1,81916,2017-03-06,1,50.97
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,M,M,1,2,1,2,81076,2017-03-06,1,53.11
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,F,S,0,3,0,0,86387,2017-03-06,1,54.08
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,M,M,1,2,1,2,61481,2017-03-06,1,56.93
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,M,S,1,1,0,0,51804,2017-03-06,1,55.41
5,22092,NaN,Andrea,NaN,Young,NaN,9384 Ashmount Way,NaN,Tacoma,Washington,...,F,M,1,2,2,2,61944,2017-03-06,1,49.31
6,11229,NaN,Adrian,C,Stewart,NaN,6898 Shaw Rd.,NaN,Redwood City,California,...,M,S,1,1,0,0,34919,2017-03-06,0,56.01
7,24179,NaN,Robyn,R,Blanco,NaN,6270 Pinecreek Way,NaN,Lavender Bay,New South Wales,...,F,M,0,1,0,0,61832,2017-03-06,1,49.29
8,12127,NaN,Grace,NaN,Davis,NaN,"8188, rue Lamarck",NaN,Dunkerque,Nord,...,F,M,1,0,0,2,83834,2017-03-06,1,50.05
9,19903,NaN,Marcus,N,Nelson,NaN,"5, rue des Bouchers",NaN,Metz,Moselle,...,M,S,0,1,0,0,26880,2017-03-06,0,54.15

Part I: Based on Feature Selection, Cleaning, and Preprocessing to Construct an Input from Data
Source

(a) Examine the values of each attribute and Select a set of attributes only that would affect to predict
future bike buyers to create your input for data mining algorithms. Remove all the unnecessary
attributes. (Select features just by analysis).

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
 24  BikeBuyer             18361 non-null  int64
 25  AvgMonthSpend         18361 non-null  float64
dtypes: float64(1), int64(7), object(18)
memory usage: 3.6+ MB

In [6]:
irrelevant_cols = [
    "CustomerID",
    "Title",
    "FirstName",
    "MiddleName",
    "LastName",
    "Suffix",
    "AddressLine1",
    "AddressLine2",
    "City",
    "PostalCode",
    "PhoneNumber",
    "EmailAddress",
    "DateFirstPurchase"
]
df = df.drop(columns=[col for col in irrelevant_cols if col in df.columns])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   StateProvinceName     18361 non-null  object
 1   CountryRegionName     18361 non-null  object
 2   BirthDate             18361 non-null  object
 3   Education             18361 non-null  object
 4   Occupation            18361 non-null  object
 5   Gender                18361 non-null  object
 6   MaritalStatus         18361 non-null  object
 7   HomeOwnerFlag         18361 non-null  int64
 8   NumberCarsOwned       18361 non-null  int64
 9   NumberChildrenAtHome  18361 non-null  int64
 10  TotalChildren         18361 non-null  int64
 11  YearlyIncome          18361 non-null  int64
 12  LastUpdated           18361 non-null  object
 13  BikeBuyer             18361 non-null  int64
 14  AvgMonthSpend         18361 non-null  float64
dtypes: float64(1), int64(6), object(8)
memory usage: 2.1+ MB

(b) Create a new Data Frame with the selected attributes only.

In [7]:
from datetime import datetime
df['BirthDate'] = pd.to_datetime(df['BirthDate'])
df['Age'] = datetime.now().year-df['BirthDate'].dt.year
subset_df = df[['Age', 'Education', 'Occupation', 'Gender', 'MaritalStatus',
                'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
                'YearlyIncome', 'AvgMonthSpend', 'BikeBuyer']]
print(subset_df.shape)
subset_df.info()

(18361, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   18361 non-null  int32
 1   Education             18361 non-null  object
 2   Occupation            18361 non-null  object
 3   Gender                18361 non-null  object
 4   MaritalStatus         18361 non-null  object
 5   HomeOwnerFlag         18361 non-null  int64
 6   NumberCarsOwned       18361 non-null  int64
 7   NumberChildrenAtHome  18361 non-null  int64
 8   YearlyIncome          18361 non-null  int64
 9   AvgMonthSpend         18361 non-null  float64
 10  BikeBuyer             18361 non-null  int64
dtypes: float64(1), int32(1), int64(5), object(4)
memory usage: 1.5+ MB

(c) Determine a Data value type (Discrete, or Continuous, then Nominal, Ordinal, Interval, Ratio) of
each attribute in your selection to identify preprocessing tasks to create input for your data mining.

In [8]:
data_types = {
    'Age': 'Continuous (Ratio)',
    'YearlyIncome': 'Continuous (Ratio)',
    'AvgMonthSpend': 'Continuous (Ratio)',
    'NumberCarsOwned': 'Continuous (Discrete Count)',
    'NumberChildrenAtHome': 'Continuous (Discrete Count)',
    'HomeOwnerFlag': 'Binary (Nominal)',

    'Gender': 'Nominal (Categorical)',
    'MaritalStatus': 'Nominal (Categorical)',
    'Occupation': 'Nominal (Categorical)',
    'Education': 'Ordinal (Categorical: ordered levels)',

    'BikeBuyer': 'Target (Binary: 0/1)'
}
for col,dtype in data_types.items():
  print(f"{col:20} --> {dtype}")

Age                  --> Continuous (Ratio)
YearlyIncome         --> Continuous (Ratio)
AvgMonthSpend        --> Continuous (Ratio)
NumberCarsOwned      --> Continuous (Discrete Count)
NumberChildrenAtHome --> Continuous (Discrete Count)
HomeOwnerFlag        --> Binary (Nominal)
Gender               --> Nominal (Categorical)
MaritalStatus        --> Nominal (Categorical)
Occupation           --> Nominal (Categorical)
Education            --> Ordinal (Categorical: ordered levels)
BikeBuyer            --> Target (Binary: 0/1)

Part II: Data Preprocessing and Transformation
Depending on the data type of each attribute, transform each object from your preprocessed data.  
Use all the data rows (~= 18000 rows) with the selected features as input to apply all the tasks below, do
not perform each task on the smaller data set that you got from your random sampling result.

(a) Handling Null values

In [9]:
missing_values = subset_df.isnull().sum()
print(missing_values)

Age                     0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
YearlyIncome            0
AvgMonthSpend           0
BikeBuyer               0
dtype: int64

(b) Normalization

In [10]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

subset_df.loc[:, ['YearlyIncome', 'AvgMonthSpend']] = scaler.fit_transform(
    subset_df[['YearlyIncome', 'AvgMonthSpend']]
)

/tmp/ipython-input-560412591.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.29855522  0.27118044  0.44426075 ... -0.68097305  0.47000607
  2.08899616]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  subset_df.loc[:, ['YearlyIncome', 'AvgMonthSpend']] = scaler.fit_transform(

(c) Discretization (Binning) on Continuous attributes or Categorical Attributes with too many different
values

In [11]:

subset_df.loc[:, 'AgeBin'] = pd.cut(subset_df['Age'], bins=3, labels=['Young', 'Middle', 'Old'])

subset_df.loc[:, 'IncomeBin_qcut'] = pd.qcut(subset_df['YearlyIncome'], q=4,
                                             labels=['Low', 'Medium', 'High', 'Very High'])
bins = [0, 30000, 70000, 200000]
labels = ['Low', 'Medium', 'High']
subset_df.loc[:, 'IncomeBin_custom'] = pd.cut(subset_df['YearlyIncome'], bins=bins, labels=labels)

/tmp/ipython-input-3572266859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df.loc[:, 'AgeBin'] = pd.cut(subset_df['Age'], bins=3, labels=['Young', 'Middle', 'Old'])
/tmp/ipython-input-3572266859.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df.loc[:, 'IncomeBin_qcut'] = pd.qcut(subset_df['YearlyIncome'], q=4,
/tmp/ipython-input-3572266859.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df.loc[:, 'IncomeBin_custom'] = pd.cut(subset_df['YearlyIncome'], bins=bins, labels=labels)

(d) Standardization/Normalization

In [12]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
norm_scaler = MinMaxScaler()
subset_df[['YearlyIncome_norm', 'AvgMonthSpend_norm']] = norm_scaler.fit_transform(
    subset_df[['YearlyIncome', 'AvgMonthSpend']]
)

std_scaler = StandardScaler()
subset_df[['YearlyIncome_std', 'AvgMonthSpend_std']] = std_scaler.fit_transform(
    subset_df[['YearlyIncome', 'AvgMonthSpend']]
)

/tmp/ipython-input-3408522149.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df[['YearlyIncome_norm', 'AvgMonthSpend_norm']] = norm_scaler.fit_transform(

(e) Binarization (One Hot Encoding)

In [13]:
subset_encoded = pd.get_dummies(subset_df,
                                columns=['Gender', 'MaritalStatus', 'Occupation'],
                                drop_first=True)

print(subset_encoded.head())

   Age        Education  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  \
0   38        Bachelors              1                3                     0
1   53  Partial College              1                2                     1
2   40        Bachelors              0                3                     0
3   48  Partial College              1                2                     1
4   50  Partial College              1                1                     0

   YearlyIncome  AvgMonthSpend  BikeBuyer  AgeBin IncomeBin_qcut  ...  \
0      0.298555      -0.231774          1   Young           High  ...
1      0.271180       0.390755          1  Middle           High  ...
2      0.444261       0.672929          1   Young           High  ...
3     -0.367401       1.501999          1   Young         Medium  ...
4     -0.682765       1.059828          1  Middle            Low  ...

  YearlyIncome_norm  AvgMonthSpend_norm  YearlyIncome_std  AvgMonthSpend_std  \
0          0.496842            0.324210          0.298555          -0.231774
1          0.489453            0.425201          0.271180           0.390755
2          0.536172            0.470977          0.444261           0.672929
3          0.317083            0.605474         -0.367401           1.501999
4          0.231958            0.533742         -0.682765           1.059828

   Gender_M  MaritalStatus_S  Occupation_Management  Occupation_Manual  \
0      True            False                  False              False
1      True            False                  False              False
2     False             True                  False              False
3      True            False                  False              False
4      True             True                  False              False

   Occupation_Professional  Occupation_Skilled Manual
0                    False                      False
1                    False                      False
2                    False                      False
3                    False                       True
4                    False                       True

[5 rows x 21 columns]

Part III: Calculating Proximity /Correlation Analysis of two features

Make sure each attribute is transformed in a same scale for numeric attributes and Binarization for each
nominal attribute, and each discretized numeric attribute to standardization. Make sure to apply a correct
similarity measure for nominal (one hot encoding)/binary attributes and numeric attributes respectively.

In [14]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Example: pick first 2 rows after preprocessing
obj1 = subset_df.iloc[0].values.reshape(1, -1)
obj2 = subset_df.iloc[1].values.reshape(1, -1)

In [20]:
subset_encoded = subset_encoded.apply(pd.to_numeric, errors='coerce')
subset_encoded = subset_encoded.fillna(0)

(a) Calculate Similarity in Simple Matching, Jaccard Similarity, and Cosine Similarity between two
following objects of your transformed input data.

In [22]:
obj1 = subset_encoded.iloc[0].values
obj2 = subset_encoded.iloc[1].values
matches = (obj1 == obj2).sum()
simple_matching = matches / obj1.size
print("Simple Matching Similarity:", simple_matching)

obj1_bin = (obj1 > 0).astype(int)
obj2_bin = (obj2 > 0).astype(int)

intersection = (obj1_bin & obj2_bin).sum()
union = (obj1_bin | obj2_bin).sum()
jaccard = intersection / union if union != 0 else 0
print("Jaccard Similarity:", jaccard)
from sklearn.metrics.pairwise import cosine_similarity
cos_sim = cosine_similarity([obj1], [obj2])[0][0]
print("Cosine Similarity:", cos_sim)

Simple Matching Similarity: 0.5714285714285714
Jaccard Similarity: 0.75
Cosine Similarity: 0.9987046899804704

(b) Calculate Correlation between two features Commute Distance and Yearly Income

In [25]:
corr = subset_df['Age'].corr(subset_df['YearlyIncome'])
print("Correlation (Age vs YearlyIncome):", corr)

Correlation (Age vs YearlyIncome): 0.02674426213401955

In [26]:
corr = subset_df['AvgMonthSpend'].corr(subset_df['YearlyIncome'])
print("Correlation (AvgMonthSpend vs YearlyIncome):", corr)

Correlation (AvgMonthSpend vs YearlyIncome): 0.5301257155563446